.wrapper {
    & > .filter {
        display: flex;
        margin: 24px -4px;
        & > * {
            flex: 0 1 auto;
            margin: 0 4px;
        }
    }
    
    & > .previewOfOptions {
        display: flex;
        flex-flow: column nowrap;
        & > * {
            flex: 0 1 auto;
            margin: 0 0 24px 0;
        }
    }
}
