.wrapper {
    $textFieldHeight: 54px;

    position: relative;

    &.invalid {
        & > input {
            border: 1px solid #C4113F;
        }
        & > label {
            color: #C4113F;
        }
        & > span {
            display: block;
            color: #C4113F;
        }
    }

    & > input {
        width: 100%;
        height: $textFieldHeight;
        background-color: #fff;
        border: 1px solid #AEAEB2;
        border-radius: 6px;
        font-size: 16px;
        padding: 16px 10px 0 10px;
        
        &:focus {
            outline: 0;
        }
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 27px #fff inset !important;
        }

        & + label {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 16px;
            color: #63636C;
            line-height: $textFieldHeight;
            transition: 
                line-height .15s ease .15s,
                font-size .15s,
                color .15s,
                top .15s ease .15s,
                left .15s;
        }
        &:focus + label,
        &.filled + label {
            top: -12px;
            left: 10px;
            font-size: 12px;
            transition: 
                top .15s,
                left .15s ease .10s;
        }
    }

    & > span {
        display: none;
        margin-top: 4px;
        font-size: 11px;
    }
}